body{
    font-family: 'Crimson Pro', serif;
}
H1{
    font-size: 50PX;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}